services:
  db:
    image: postgres:16
    container_name: auth_pg
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth -d auth"]
      interval: 2s
      timeout: 2s
      retries: 30
    volumes:
      - ./_pgdata:/var/lib/postgresql/data